In [9]:
import os, pandas as pd
# Add asset from file system
churn_df = pd.read_csv(os.environ['DSX_PROJECT_DIR']+'/datasets/training.csv')
columns = pd.read_csv(os.environ['DSX_PROJECT_DIR']+'/datasets/column_sequence.txt',header=None)
column_names = list(columns[0])

churn_df.columns = column_names
churn_df.head()

,last_30_days,last_60_days,last_90_days,no_of_orders,product_amount,no_of_payments,payment_amount,churn_flag
0,0,0,0,3,76.97,0,0.00,1
1,1,2,3,1,5.99,6,35.94,0
2,1,1,1,2,70.98,3,76.97,0
3,0,0,0,1,5.99,3,17.97,0
4,1,2,3,1,5.99,6,35.94,0

In [10]:
churn_df.describe()

,last_30_days,last_60_days,last_90_days,no_of_orders,product_amount,no_of_payments,payment_amount,churn_flag
count,139579.000000,139579.000000,139579.000000,139579.000000,139579.000000,139579.000000,139579.000000,139579.000000
mean,0.498478,0.765051,0.915345,1.017030,41.505788,1.502174,62.029781,0.500004
std,0.990159,1.387628,1.674444,0.140633,28.995583,1.023265,95.500668,0.500002
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,5.990000,1.000000,12.960000,0.000000
50%,0.000000,0.000000,0.000000,1.000000,64.990000,1.000000,60.000000,1.000000
75%,1.000000,1.000000,1.000000,1.000000,64.990000,2.000000,64.990000,1.000000
max,10.000000,17.000000,23.000000,10.000000,259.960000,13.000000,5464.990000,1.000000

In [12]:
import seaborn as sns

In [ ]:
from sk